# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Database configuration
/app/config/parameters.yml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# vendors (get them by updating via composer)
/vendor/*

#php storm workspace config
.idea/*