{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
<div class="row card-panel wtitle top-grey col s11 cols2 crudcard">
    <h5 class="card-title">Liste Tutelles </h5>
    <table class="records_list bordered hoverable">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Date création </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
      {% for entity in entities %}
            <tr>
                <td>{{entity.nom}}</td>
                <td>{{entity.created|date('d-m-Y')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="" class="btn blue-grey">
        <i class="mdi-content-add left"></i> Créer nouveau</a>
</div>
{% endblock %}
