{% trans_default_domain 'FOSUserBundle' %}

<div class="row card-panel title top-grey col s11 cols2 crudcard">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}"  class="btn-large  wave-light waves-effet"/>
    </div>
{{ form_end(form) }}
</div>