{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row card-panel wtitle top-blue">
  <h5 class="card-title">Column / Line (default)</h5>
  <form class="col s12">
    <div class="row">
      
    <script type="text/javascript">
	    {{ chart(chart1) }}
	</script>

	<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    </div>
  </form>
</div>

<div class="row card-panel wtitle top-red col s5">
  <h5 class="card-title">piechart</h5>
  <form class="col s12">
    <div class="row col">
      	<script type="text/javascript">
	    {{ chart(chart2) }}
			// Make monochrome colors and set them as default for all pies
		/*Highcharts.getOptions().plotOptions.pie.colors = (function () {
		    var colors = [],
		        base = Highcharts.getOptions().colors[4],
		        i;

		    for (i = 0; i < 10; i += 1) {
		        colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
		    }
		    return colors;
		}());*/
	</script>


	<div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
  </form>
</div>


<div class="row card-panel wtitle top-green col s6 offset-s1">
  <h5 class="card-title">bar / area / Column / Line (default)</h5>
  <form class="col s12">
    <div class="row col">
      	<div class="row col">
	      	<script type="text/javascript">
		    {{ chart(chart3) }}
		</script>

		<div id="barchart" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
	    </div>
    </div>
  </form>
</div>
{% endblock %}