{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
            
      
    <h3 class="header">Liste des provinces</h3>

    <table class="">
        <thead>
            <tr>
               <th>Nom</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for province in provinces %}
            <tr>
                <td>{{ province.nom }}</td>
                
                       
                <td>  <a href="{{ path('province_edit', { 'id': province.id }) }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a></td>

                <td><a href="{{ path('province_show', { 'id': province.id }) }}" class="waves-light waves-effect btn-large btn-floating red"><i class="material-icons">delete</i></a></td>    
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
            <a href="{{ path('province_new') }}" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
       
      </div>
    </div>
</div>
{% endblock %}
