{% extends 'base.html.twig' %}

{% block body %}
<div class="row card-panel title top-grey col s11 cols2 crudcard"> 
    <div class="row">
        <div class="col s12">
       
    <h5 class="card-title" style="text-align:left !important">Création de province</h5>

    {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s6">{{ form_widget(form) }}</div></div>
      
  

      <div class="row">
            <div class="input-field col s2">  <button type="submit" value="Create" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></button></div>
            <div class="input-field col s3"> 
                <a href="{{ path('province_index') }}" class="btn blue-grey"> Retour à la liste</a></div>
        </div>
  {{ form_end(form) }}
      </div>
    </div>
</div>
{% endblock %}
