{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
       
    <h3>Création de province
</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('province_index') }}">Back to the list</a>
        </li>
    </ul>

      </div>
    </div>
</div>
{% endblock %}
