{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="header">Création de catalogue</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    
            <a href="{{ path('catalogue_index') }}" class="waves-effect waves-light btn">Retour à la liste</a>
        
{% endblock %}
