{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
    CRUD - {{ parent() }}
{% endblock %}

{% block body -%}
<div class="row card-panel wtitle top-black col s11 cols2 crudcard">
    <h5 class="card-title">Tutelle</h5>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td></td>
            </tr>
         
        </tbody>
    </table>

    <div class="record_actions">
        <a href="" class="btn">
            <i class="mdi-editor-mode-edit left"></i> Modifier
        </a>
        <a href="{{path('pfe_tutelle_index')}}" class="btn blue-grey">
            <i class="mdi-action-view-headline left"></i> Retour à la liste
        </a>
     
    </div>
</div>
{% endblock %}
