<ul>
    {% for p in provinces %}
        <li class="grey darken-2"><a class="waves-effect grey lighten-5" href="{{ path('pfe_dash_bib_province', {'id': p.id}) }}">{{ p.nom }}</a></li>
    {% endfor %}
</ul>