{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row card-panel wtitle top-teal col s11 cols2 crudcard">
  <h5 class="card-title">Page d'accueil</h5>
  <form class="col s12">
    <div class="row">
      
   {{ dump() }}

	<div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    </div>
  </form>
</div>


{% endblock %}