{% extends "PFEDashBundle::layout.html.twig" %}

{% block title %}PFEDashBundle:Bib:presentation{% endblock %}

{% block body %}

    {% for b in p.bibliotheque %}
    {#{% if b.responsable %}#}
        <div class="card wtitle justbg col s5 {%  if loop.index is not odd %}offset-s1 {% else %} cols2 {% endif %}">
            <h3 class="card-title bigtitle blue-grey darken-4">{{ b.nom }}</h3>
            <div class="card-action">
            <a class="right-align" href="{{  path('pfe_dash_bib_presentation',{'id':b.id}) }}">Plus de détails</a>
            </div>
        </div>
    {#{% endif %}#}
    {% else %}
        <div class="card wtitle col s10 offset-s1">
            <h3 class="card-title bigtitle red"> !! </h3>
            <div class="card-content">
                pas de bibbliotheque dans cette province !
            </div>
        </div>
    {% endfor %}
{% endblock %}